<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>班级说说</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style>
        #header-title {
            color: #333;
            font-size: 40px;
            text-decoration: none
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">班级说说</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home">全部说说<span class="sr-only">(current)</span></a></li>
                        <li><a id="mylists" href="#">我的说说</a></li>
                        <li><a id="userlists" href="#">成员列表</a></li>
                    </ul>
                    <ul id="loginInfo" class="nav navbar-nav navbar-right">
                        <a style="margin-right:20px;" href="/register" id="register" class="btn btn-primary navbar-btn">注册</a>
                        <a href="/login" class="btn btn-info navbar-btn">登陆</a>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-2">
                    <a id="header-title" href="/upload">
                        <img id="headImg" width="100" height="100" style="border-radius:100%;margin-right:10px;" alt="">
                        <!-- <span id="header-name">Hello, world!</span> -->
                    </a>
                </div>
                <div class="col-xs-8 col-sm-6">
                    <textarea id="text" style="resize:none" class="form-control" rows="3"></textarea>
                    <p id="submit" style="margin-top:20px;"><a class="btn btn-primary" href="#" role="button">提交</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row" id="lists">
            <!-- <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div> -->
        </div>
        <nav id="pagination" aria-label="Page navigation">
            <% if(pages > 1) {%>
                <ul class="pagination">
                    <li class="previous disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% for( var i = 1 ; i <= pages; i++) {%>
                        <li class="pagenum">
                            <a href="#">
                                <%= i %>
                            </a>
                        </li>
                        <% }%>
                            <li class="next">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                </ul>
                <% }%>
        </nav>

        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>